/vendor
/node_modules
/storage
/resources/assets
.env
/.idea
.idea/workspace.xml
.idea/workspace.xml
resources/views/welcome.blade.php
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
