/*
    #516177 - Mörkblå
    #f1f1f1 - Ljusgrå
    #d9d9d9 - Mörkgrå

*/

#menu {
    padding: 0;
    -webkit-padding-start: 0;
    margin-top: 0;
    -webkit-margin-before: 0;
    /*-webkit-margin-after: 5px;*/
}

ul.resp-menu {
    height: 2.4em;
    width: 100%;
    padding:0;
    background: #f1f1f1;
    margin: 0em;
    margin-bottom: 2px;
    color: #516777;
    /*overflow: hidden;*/
    /*border: 1px solid #516777;*/
}

ul.resp-menu > li {
    float: left;
    position: relative;
    border-right: 1px solid #516777;
    padding-right: 1em;
}

ul.resp-menu ul {
    background: #f1f1f1;
    display: none;
    position: absolute;
    left: 0; top: 100%;
    border: 1px solid #516777;
    /*-moz-padding-start: 1em;*/
    /*-webkit-padding-start: 1em;*/
    padding: 2px;
}

ul.resp-menu a,
ul.resp-menu form,
ul.resp-menu .text{
    cursor: pointer;
    display: block;
    line-height: 2em;
    padding: 0.2em 0.5em;
}

ul.resp-menu li {
    list-style: none;
    white-space: nowrap;
    line-height: 2em;
}

ul.resp-menu li:hover {
    background: #d9d9d9;
    color: #516777;
}
ul.resp-menu li:hover ul {
    display: block;
    z-index: 999;
}

ul.resp-menu .right{
    /*padding-right: 0;*/
    /*padding-left: auto;*/
    /*margin-right: 0;*/
    /*margin-left: auto;*/
    float: right;
    border-right: none;
    border-left: 1px solid #516777;
    padding-left: 1em;
}


/*Hide checkbox*/
input[type=checkbox].menu-bar{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ .resp-menu{
    display: block;
}

.show-menu{
    display: none;
    background: #f1f1f1;
    font-size: 2em;
    padding-left: 0.2em;
    width: 100%;
    /*height: 2.4em;*/
}

.searchTop {
    display: none;
}
.searchBottom{
    display: block;
}

@media all and (max-width: 1060px) {
    ul.resp-menu {
        height: auto;
        width: 70%;
        max-width: 300px;
        display: none;
        float:left;
        margin-top: 0;
        position: absolute;
        z-index: 1;
        overflow: hidden;
    }
    ul.resp-menu li {
        float: none;
        width: 100%;
        line-height: 3em;
    }

    ul.resp-menu > li {
        border: none;
        border-bottom: 1px solid #516777;
    }
    /*ul.resp-menu a { line-height: 3em; }*/
    ul.resp-menu ul {
        position: relative;
        display: block;
        border: none;
    }

    ul.resp-menu{
        border: 1px solid #516777;
    }

    .show-menu{
        display: block;
    }

    .searchTop {
        display: block;
    }
    .searchBottom{
        display: none;
    }
}