/*
    #516177 - Mörkblå
    #f1f1f1 - Ljusgrå
    #d9d9d9 - Mörkgrå
*/

    /*.bottom-padding{*/
        /*padding-bottom: 0.3em;*/
    /*}*/

	/*.filter-options{*/
		/*padding: 0.3em;*/
	/*}*/



	/*---------------------------------------
	Market list
	---------------------------------------*/
	
	/*.market-list-menu{*/
		/*border-bottom: 1px solid #516177;*/
		/*!*padding: 2px;*!*/
		/*!*margin-bottom: 6px;*!*/
	/*}*/

	/*.market-list-menu input[type='checkbox'] {*/
		/*!*display: none;*!*/
	/*}*/
		/**/
	/*.row-dark{*/
		/*background-color: #d9d9d9;*/
	/*}*/
	
	/*.market-list-rows-image,*/
	/*.market-list-rows-desc,*/
	/*.market-list-rows-price,*/
	/*.market-list-rows-seller {*/
		/*!*border: 1px solid black;*!*/
		/*padding: 2px;*/
		/*margin: 2px;*/
		/*overflow: hidden;*/
	/*}*/

	/*.market-list-container{*/
		/*display: block;*/
		/*width: auto;*/
		/*overflow: hidden;*/
	/*}*/
		/**/
	/*.list-row{*/
		/*!*padding: 5px 2px;*!*/
		/*!*margin: 0;*!*/
		/*overflow: visible;*/
		/*padding: 2px;*/
		/*margin: 2px;*/
		/*!*border-radius: 2px;*!*/
	/*}*/

    /*.list-row:nth-child(even),*/
    /*.stripe:nth-child(even){*/
        /*background-color: #d9d9d9;*/
    /*}*/

	/*.list-underline{*/
		/*border-bottom-style: solid;*/
		/*border-bottom-width: 1px;*/
		/*border-bottom-color: #516177;*/
	/*}*/
	
	/*.market-list-rows-image,*/
	/*.market-list-rows-desc,*/
	/*.market-list-rows-price,*/
	/*.market-list-rows-seller,*/
	/*.market-list-rows-option{*/
		/*vertical-align: top;*/
	/*}*/
	
	/*.market-list-rows-image{*/
		/*float: left;*/
	/*}*/
	
	/*.market-list-rows-desc{*/
		/*width: auto;*/
	/*}*/
	
	/*.market-list-rows-price,*/
	/*.market-list-rows-seller{*/
		/*float: right;*/
	/*}*/
	
	/*.market-list-rows-option{*/
		/*width: auto;*/
		/*float: right;*/
		/*padding: 2px;*/
		/*margin: 2px;*/
		/*overflow: visible;*/
	/*}*/

    /*.galleryBox {*/
        /*width: 32.5%;*/
        /*display: inline-block;*/
        /*border: 1px solid #516177;*/
        /*padding: 3px;*/
        /*margin: 0.2%;*/
        /*height: 100%;*/
    /*}*/

    /*.gallery-box-container {*/
        /*display: flex;*/
        /*flex-wrap: wrap;*/
        /*justify-content: flex-start;*/
        /*align-items: stretch;*/
		/*overflow: hidden;*/
		/*background-color: #d9d9d9;*/
		/*padding-left: 5px;*/
		/*padding-top: 5px;*/
    /*}*/

    /*.gallery-box-item-list {*/
        /*width: 99%;*/
    /*}*/

    /*.gallery-box-item-s {*/
        /*width: 24%;*/
        /*max-width: 350px;*/
		/*min-width: 220px;*/
    /*}*/

    /*.gallery-box-item-s a {*/
        /*height: 100%;*/
    /*}*/

    /*.flex-row {*/
        /*display: flex;*/
        /*justify-content: space-between;*/
        /*!*overflow: hidden;*!*/
    /*}*/

    /*.flex-item {*/
		/*white-space: nowrap;*/
        /*!*overflow: hidden;*!*/
    /*}*/

    /*.flex-height-5 {*/
		/*height: 5px;*/
    /*}*/

    /*.padding-right {*/
        /*padding-right: 5px;*/
    /*}*/

    /*.width100 {*/
		/*width: 100%;*/
    /*}*/

    /*.width90 {*/
		/*width: 90%;*/
    /*}*/

    /*.space-after {*/
        /*margin-bottom: 5px;*/
    /*}*/



	
/*-----------------------------------------------*/
/* Market create */
/*-----------------------------------------------*/
.form-input {
	display: block;
	width: 98%;
    margin-bottom: 1em;
}
	
/*-----------------------------------------------*/
/* Menu Button */
/*-----------------------------------------------*/

    /*!**/
    /*<div class="btn-menu">*/
        /*<div class="menu-bar"></div>*/
        /*<div class="menu-bar"></div>*/
        /*<div class="menu-bar"></div>*/
    /*</div>*/
    /**!*/

    /*.btn-menu{*/
    /*height: 24px;*/
    /*width: 24px;*/
    /**/
    /*border: 2px solid #516177;*/
    /*!*border-radius: 3px;*!*/
/*}*/
    /*.btn-menu > .dot{*/
        /*float: right;*/
        /*height: 4px;*/
        /*width: 4px;*/
        /*background-color: #516177;*/
    /*}*/

    /*.menu-bar{*/
    /*width: 80%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*height: 10%;*/
    /*margin-top: 17%;*/
    /**/
    /*background-color: #516177;*/
    /*!*border-radius: 2px;*!*/
/*}*/

	/*!*----- Menu For Market -----*!*/




/* Pagination ---------------------------------------------------------------------- */
    /*ul.pagination{*/
        /*list-style-type: none;*/
        /*!*border: 1px solid #000000;*!*/
        /*text-align: center;*/
    /*}*/

    /*ul.pagination li{*/
        /*display: inline;*/
        /*padding: 0.5em 1em ;*/
        /*border-top: 1px solid #516177;*/
        /*border-bottom: 1px solid #516177;*/
        /*color: #516177;*/
    /*}*/

    /*ul.pagination .disabled{*/
        /*display: none;*/
    /*}*/

    /*ul.pagination .active{*/
        /*background-color: #d9d9d9;*/
    /*}*/
/*!* --------------------------------------------------------------------------------- *!*/
    

