	/*---------------------------------------
	Basic layout
	---------------------------------------*/
	html, body {
		height: 100%;
		margin: 0;
		padding: 0px;
	}
	
	body {
  		font-family: "Times new roman";
  		color: #516177;
	}

	form {
		margin: 0;
	}

	.row-divider{
	    display: table-row;
	    height: 5px;
	    content: ' '; /*???*/
	}

	.hr {
		height: 1px;
		width: 100%;
		background-color: #516177;
		padding: 0;
		margin: 2px;
	}
	
	#menu,
	#menu2,
	#content {
	    /*max-width: 900px;*/
	    background-color: #f1f1f1;
	    /*height: 100%;*/
	    /*margin-left: auto;
	    margin-right: auto;
	    /*border-radius: 4px;*/
	    padding: 3px;
	    
	    /*border-radius: 5px;*/
		border-color: #516177;
		border-width: 1px;
		border-style: solid;
		
		display: table-row;
	}
	
	#menu,
	#meny2{
		margin-top: 0px;
		margin-bottom: auto;
		top: 0px;
		bottom: auto;
	}
	
	#content {
		min-height: 100%;
		height: 100%;
	}

	.inner-content{
		padding: 3px 10px;
	}
			
	#site{
		height: 100%;
		width: 100%;
		/*background-color: red;*/
		display: table;
	}
	
	#header{
		
	}
		
	#banner1,
	#banner2,
	#banner3,
	#banner4{
		padding: 4px;
		background-color: #f1f1f1;
		
		/*border-radius: 3px;*/
		border-color: #516177;
		border-width: 1px;
		border-style: solid;
		
		margin: 4px;
	}
	
	#banner1,
	#banner4{
		width: 100%;
		clear: both;
		overflow: hidden;
	}
	
	#banner2,
	#banner3{
		max-width: 20%;
	}
			
	#banner2 {
		float: left;
	}
		
	#banner3 {
		float: right;		
	}
		
	#footer{
		background-color: #70839d;
		display: block;
		padding-bottom: 10px;
		
		border-top-color: #516177;
		border-top-style: solid;
		border-top-width: 2px;
		
		text-align: center;
		/*
		bottom: 0;
		top: auto;
		*/
	}
	
	#logo{
		width: 100%;
		background-color: #70839d;
		display: block;
		
		border-bottom-color: #516177;
		border-bottom-style: solid;
		border-bottom-width: 2px;
	}
	
	#logo-right{
		float: right;
	}
	
	.borderbox{
		border: 1px solid #516177;
		height: 100%;
	}

    .inline{
        display: inline-block;
    }

	.align-right{
		float: right;
		margin-right: 7px;
		/*background-color: red;*/
	}

    .clearfix{
        clear: both;
    }

    .padding5{
        padding: 0.5em;
    }

    .btn,
    .btnSmall{
        display: inline-block;
        padding: 0.5em;
        margin: 0.2em;
        border: solid 1px #516177;
        text-decoration: none;
        color: #516177;
        font-size: 1em;
        background-color: #d9d9d9;
    }

    .btn40{
        min-width: 40%;
    }
    
    .btn80{
        min-width: 80%;
    }

    .btnSmall{
        font-size: 0.8em;
        padding: 0.2em 0.5em;
        height: 2em;
    }

    .help-block{
        color: red;
        margin-top: 0.5em;
        margin-bottom: 5px;
    }
	
	/*---------------------------------------
	General
	---------------------------------------*/
	
	h1, h2, h3, h4, h5, h6, p{
		margin: 0;
		margin-bottom: 6px;
	}
	
	a,
	a:visited{
		color: #516177;
		text-decoration: none;
	}
	
	a:hover,
	a:active{
		color: #364150;
		text-decoration: none;
	}
	/*
	div {
		box-sizing: border-box;
	}
	*/

    .red{
        color: #ff0000;
    }

    .green{
        color: #008000;
    }
    
    .blue{
        color: #0000ff;
    }
	
	/*---------------------------------------
	Navigation
	---------------------------------------*/

	.menu-row{
		list-style-type: none;
    	margin: 0;
    	padding: 1px;
		
	}
	
	.menu-item{
		display: inline-block;
		border-left: 1px;
		border-color: #516177;
		border-left-style: solid;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	
	.menu-last{
		border-color: #516177;
		border-right: 1px;
		border-right-style: solid;
		padding-right: 6px;
	}
		
	/*---------------------------------------
	Market details
	---------------------------------------*/
	#market-left{
		width: 70%;
		
/*		float: left;*/
		
		/*border-left-width: 1px;
		border-left-style: solid;
		border-left-color: #516177;*/
		/*border-right: 1px solid #516177;*/
		display: inline-block;
		overflow: hidden;
	}
	
	#market-right{
		width: 28%;
		overflow: hidden;
		float: right;
		display: inline-block;
		margin-right: 5px;
	}

	#market-forum{
		
	}
	
	#market-detail,
	#market-forum,
	#market-price-info,
	#market-seller-info{
		width: 100%;
		padding: 5px;
	}
	
	.market-detail-images{
		
		display: block;
		/*background-color: #c033cc;*/
		/*margin-left: auto;
		margin-right: auto;*/
		width: auto;
        max-width: 700px;
	}
	
	.market-detail-big-image{
		/*width: 400px;
		height: 300px;*/
		/*background-color: #f1f53a;*/
		/*margin-left: auto;
		margin-right: auto;
		/*display: block;*/
		/*border-radius: 5px;*/
		max-width: 100%;
	}
	
	.market-detail-small-images{
		/*margin-left: auto;
		margin-right: auto;
		/*background-color: blue;*/
		width: auto;
		display: table;
	}
	
	.market-detail-small-image{
        /*width: 80px;*/
        /*height: 80px;*/
        max-width: 80px;
        max-height: 80px;
		/*background-color: #f1f53a;*/
		display: inline-block;
		/*text-align: center;*/
		margin: 4px;
		/*border-radius: 5px;*/
	}

	.market-title {
		background-color: #516177;
		color: #d9d9d9;
		padding: 5px 5px 5px 15px;
		margin-bottom: 3px;
	}

	.marketmenu-title {
		display: inline-block;
		padding: 0;
		margin: 0;
	}

	.marketmenu-right {
		margin-top: auto;
		margin-bottom: auto;
		margin-left: auto;
		margin-right: 15px;
		display: inline-block;
		float: right;
		padding: 0;
		background-color: #d9d9d9;
	}
	
	/*---------------------------------------
	Market list
	---------------------------------------*/
	
	.market-list-menu{
		border-bottom: 1px solid #516177;
		/*padding: 2px;*/
		/*margin-bottom: 6px;*/
	}

	.market-list-menu input[type='checkbox'] {
		/*display: none;*/
	}
		
	.row-dark{
		background-color: #d9d9d9;
	}
	
	.market-list-rows-image,
	.market-list-rows-desc,
	.market-list-rows-price,
	.market-list-rows-seller {
		/*border: 1px solid black;*/
		padding: 2px;
		margin: 2px;
		overflow: hidden;
	}

	.market-list-container{
		display: block;
		width: auto;
		overflow: hidden;
	}
		
	.list-row{
		padding: 5px 2px;
		margin: 0;
		overflow: visible;
		padding: 2px;
		margin: 2px;
		/*border-radius: 2px;*/
	}

	.list-underline{
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #516177;
	}
	
	.market-list-rows-image,
	.market-list-rows-desc,
	.market-list-rows-price,
	.market-list-rows-seller,
	.market-list-rows-option{
		vertical-align: top;
	}
	
	.market-list-rows-image{
		float: left;
	}
	
	.market-list-rows-desc{
		width: auto;
	}
	
	.market-list-rows-price,
	.market-list-rows-seller{
		float: right;
	}
	
	.market-list-rows-option{
		width: auto;
		float: right;
		padding: 2px;
		margin: 2px;
		overflow: visible;
	}
	
/*-----------------------------------------------*/
/* Market create */
/*-----------------------------------------------*/
.form-input {
	display: block;
	width: 100%;
	overflow: hidden;
}

textarea.form-input{
    overflow-y: auto;
}
	
	
/*-----------------------------------------------*/
/* Menu Button */
/*-----------------------------------------------*/

/*
<div class="btn-menu">
    <div class="menu-bar"></div>
    <div class="menu-bar"></div>
    <div class="menu-bar"></div>
</div>
*/

.btn-menu{
    height: 24px;
    width: 24px;
    
    border: 2px solid #516177;
    /*border-radius: 3px;*/
}



.menu-bar{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    margin-top: 17%;
    
    background-color: #516177;
    /*border-radius: 2px;*/
}

	/*----- Menu For Market -----*/
	.menu {
		width:1000px;
		margin:0;
	}

	.market-menu li {
		margin:0;
		list-style:none;
	}

	.market-menu > ul {
		margin-top: 0;
		margin-right: 0;
		margin-left: auto;
		margin-bottom: auto;
		-webkit-padding-start: 0px;
	}

	.market-menu a {
		/*Text color of menu item*/
		color: black;
	}

	.market-menu li:hover > a, .menu .current-item > a {
		text-decoration:none;
	}

	/*----- Top Level -----*/
	.market-menu > ul > li {
		/*float:left;*/
		display:inline-block;
		position:relative;
	}

	.market-menu > ul > li > a {
		padding:4px;
		display:inline-block;
	}

	.market-menu > ul > li:hover > a,
	.market-menu > ul > .current-item > a {
		/*background: blue;*/
	}

	/*----- Bottom Level -----*/
	.market-menu li:hover .market-sub-menu {
		z-index:1;
		opacity:1;
	}

	.market-sub-menu {
		width: auto;
		padding: 0;
		position:absolute;
		top:100%;
		right:0;
		z-index:-1;
		/* Hides the sub-menu */
		opacity:0;
		background: white ;
		border: 2px solid #516177;
	}

	.market-sub-menu li {
		display:block;
		white-space:nowrap;
	}

	.market-sub-menu li a {
		padding: 10px;
		display: block;
		text-decoration: none;
		color: #516177;
	}

	.market-sub-menu li a:hover, .sub-menu .current-item a {
		background: #516177;
		color: white;
	}

/*-----------------------------------------------*/
/* Btn search
/*-----------------------------------------------*/

/*
<div class="btn-search">
    <div class="btn-search-circle"></div>
    <div class="btn-search-bar"></div>
</div>
*/

.btn-search{
    height: 20px;
    width: 20px;
    
    border: 2px solid #516177;
    /*border-radius: 12px;*/
}

.btn-search-circle{
    height: 45%;
    width: 45%;
    
    border: 4px solid #516177;
    /*border-radius: 50%;*/
    
    margin-top: 5%;
    margin-left: 5%;
}

.btn-search-bar{
    width: 50%;
    margin-left: 47%;
    margin-top: 4%;
    height: 10%;
    
    background-color: #516177;
    
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

/*-----------------------------------------------*/
/* Btn 
/*-----------------------------------------------*/
	
