/*
    #516177 - Mörkblå
    #f1f1f1 - Ljusgrå
    #d9d9d9 - Mörkgrå

*/

ul.resp-menu {
    height: 2.4em;
    width: 100%;
    padding:0;
    background: #f1f1f1;
    margin: 0em;
    margin-bottom: 2px;
    color: #516777;
    /*overflow: hidden;*/
    /*border: 1px solid #516777;*/
}

ul.resp-menu > li {
    float: left;
    position: relative;
    border-right: 1px solid #516777;
    padding-right: 1em;
}

ul.resp-menu ul {
    background: #f1f1f1;
    display: none;
    position: absolute;
    left: 0; top: 100%;
    border: 1px solid #516777;
    -moz-padding-start: 1em;
    -webkit-padding-start: 1em;
}

ul.resp-menu a,
ul.resp-menu form,
ul.resp-menu .text{
    cursor: pointer;
    display: block;
    line-height: 2em;
    padding: 0.2em 0.5em;
}

ul.resp-menu li {
    list-style: none;
    white-space: nowrap;
    line-height: 2em;
}

ul.resp-menu li:hover {
    background: #d9d9d9;
    color: #516777;
}
ul.resp-menu li:hover ul {
    display: block;
    z-index: 999;
}

ul.resp-menu .right{
    float: right;
    border-right: none;
    border-left: 1px solid #516777;
    padding-left: 1em;
}


/*Hide checkbox*/
input[type=checkbox].menu-bar{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ .resp-menu{
    display: block;
}

.show-menu{
    display: none;
    background: #f1f1f1;
    font-size: 2em;
    padding-left: 0.2em;
    width: 100%;
}

.searchTop {
    display: none;
}
.searchBottom{
    display: block;
}